.embla {
  --slide-spacing: 40px;
  --slide-size: 100%;
  --slide-height: 2rem;
  background-color: white;
}

.embla__viewport {
  border-radius: 4px;
  overflow: hidden;
}

.embla__container {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--slide-spacing) * -1);
  height: auto;
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  /* max-height: 300px; */
  padding-left: var(--slide-spacing);
  background-color: white;
  position: relative;
}

.embla__slide__img {
  display: block;
  /* height: var(--slide-height); */
  width: 100%;
  object-fit: cover;
}

.embla-thumbs__viewport {
  overflow: hidden;
}

.embla-thumbs__container {
  display: flex;
  flex-direction: row;
}

.embla-thumbs__slide {
  overflow: hidden;
}

.embla-thumbs__slide {
  flex: 0 0 25%;
}

.embla-thumbs__slide__button {
  background-color: transparent;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

.embla-thumbs__slide--selected .embla-thumbs__slide__button {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.embla-thumbs__slide__img {
  display: block;
  height: 75px;
  width: 100%;
  object-fit: contain;
}

.embla-thumbs__slide__number>span {
  display: none;
}